<div class="cbp-l-inline">
  <div class="cbp-l-inline-left">
    <img src="assets/img/gallery/balaton1.jpg" alt="Dashboard" class="cbp-l-project-img">
  </div>

  <div class="cbp-l-inline-right">
    <div class="cbp-l-inline-title">Balaton sétarepülés 1 óra 15 perc</div>


    <br>
    <br>

    <div style="font-size: 20px">
      Velence-Székesfehérvár-Balatonalmádi-Balatonvilágos-Sárvíz-völgye Tájvédelmi körzet
    </div>

  </div>
</div>
