<div class="cbp-l-inline">
  <div class="cbp-l-inline-left">
    <img src="assets/img/gallery/balaton4.jpg" alt="Dashboard" class="cbp-l-project-img">
  </div>

  <div class="cbp-l-inline-right">
    <div class="cbp-l-inline-title">Balaton megkerülés 2 óra 10 perc</div>


    <br>
    <br>

    <div style="font-size: 20px">
      Székesfehérvár irányából a Balaton északi partja mentén Keszthelynél repülünk át a Balaton
      déli partjára majd onnan Siófok és a Sárvíz-völgye Tájvédelmi
      körzet érintésével repülünk vissza a kiindulási repülőtérre.
    </div>

  </div>
</div>
