<div class="cbp-l-inline">
  <div class="cbp-l-inline-left">
    <img src="assets/img/gallery/tihany2.jpg" alt="Dashboard" class="cbp-l-project-img">
  </div>

  <div class="cbp-l-inline-right">
    <div class="cbp-l-inline-title">Tihanyi félsziget megkerülése 1 óra 30 perc</div>


    <br>
    <br>

    <div style="font-size: 20px">
      Velence-Székesfehérvár-Balatonalmádi-Balatonudvari-Balatonföldvár-Siófok-Sárvíz-völgye Tájvédelmi
      körzet
    </div>

  </div>
</div>
