<div class="cbp-l-inline">
  <div class="cbp-l-inline-left">
    <img src="assets/img/gallery/szep3.jpeg" alt="Dashboard" class="cbp-l-project-img">
  </div>

  <div class="cbp-l-inline-right">
    <div class="cbp-l-inline-title">Sétarepülés Csepel-sziget felett 25 perc</div>


    <br>
    <br>

    <div style="font-size: 20px">
      Sétarepülés Csepel-sziget felett
    </div>

  </div>
</div>
