<div class="cbp-l-inline">
  <div class="cbp-l-inline-left">
    <img src="assets/img/gallery/esztergom1.jpg" alt="Dashboard" class="cbp-l-project-img">
  </div>

  <div class="cbp-l-inline-right">
    <div class="cbp-l-inline-title">Dunakanyar 1 óra</div>


    <br>
    <br>

    <div style="font-size: 20px">
      Biatorbágy-Tahitófalu-Visegrád-Esztergom-Herceghalom
    </div>

  </div>
</div>

