<div class="cbp-l-inline">
  <div class="cbp-l-inline-left">
    <img src="assets/img/gallery/telepules.jpg" alt="Dashboard" class="cbp-l-project-img">
  </div>

  <div class="cbp-l-inline-right">
    <div class="cbp-l-inline-title">Egyéni útvonal</div>


    <br>
    <br>

    <div style="font-size: 20px">
      Lehetőség van az elérhető útvonalak módosítására illetve teljesen egyéni útvonalak lerepülésére megbeszélés
      alapján.
    </div>

  </div>
</div>

