<div class="cbp-l-inline">
  <div class="cbp-l-inline-left">
    <img src="assets/img/cessna/IMG_20210310_180053_024.jpg" alt="Dashboard" class="cbp-l-project-img">
  </div>

  <div class="cbp-l-inline-right">
    <div class="cbp-l-inline-title">Sétarepülés Margit-sziget felett 25 perc</div>


    <br>
    <br>

    <div style="font-size: 20px">
      Sétarepülés többek között a Jánoshegy illetve a Margit-sziget felett
    </div>

  </div>
</div>

