<div class="cbp-l-inline">
  <div class="cbp-l-inline-left">
    <img src="assets/img/gallery/matra1.jpg" alt="Dashboard" class="cbp-l-project-img">
  </div>

  <div class="cbp-l-inline-right">
    <div class="cbp-l-inline-title">Sétarepülés a Mátrához 1 óra 30 perc</div>


    <br>
    <br>

    <div style="font-size: 20px">
      Újhartyán-Hatvan-Mátraszentistván-Budakalász
    </div>

  </div>
</div>
