<div class="cbp-l-inline">
  <div class="cbp-l-inline-left">
    <img src="assets/img/gallery/velenceito2.jpg" alt="Dashboard" class="cbp-l-project-img">
  </div>

  <div class="cbp-l-inline-right">
    <div class="cbp-l-inline-title">Velencei tó sétarepülés 30 perc</div>


    <br>
    <br>

    <div style="font-size: 20px">
      Velence-Pákozd-Gárdony
    </div>

  </div>
</div>
